@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #eeeeee;
  font-family: Noto, Hiragino Sans, Helvetica, Arial, sans-serif;
}

ul, p, li, a, h1, h2 {
  margin: 0;
  padding: 0;
  text-decoration: none;
  word-break: break-all;
}

ul {
  list-style: none;
  margin-bottom: 60px;
  padding-right: 40px;
  padding-left: 40px;
}

header {
  border-top: 20px solid #333;
  height: auto;
  width: 100%;
  background-color: #fff;
}

.header_in {
  display: flex;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.header_in ul {
  margin-bottom: 0;
  padding: 0;
  display: flex;
}

.header_in li {
  display: inline-block;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 2;
}

.header_in li a {
  color: #b2b2b2;
  text-decoration: none;
  padding: 10px 15px;
}

.header_in li a:hover {
  background-color: #eeeeee;
  color: #fff;
}

.headertxt {
  font-size: 22px;
  background: #e65344;
  color: #fff;
  padding: 10px 15px;
  letter-spacing: 1.3px;
  text-align: center;
  margin: 0;
  line-height: 2;
  font-family: "Lato", sans-serif;
}

.headertxt a {
  color: #b2b2b2;
}

.headerLeft {
  display: flex;
}

/*ドロップダウンメニュー*/

#dropdown {
  display: none;
}

.skill:hover #dropdown {
  display: block;
}

#menu-header-menu {
  flex-direction: column;
  border: 1px solid rgba(0, 0, 0, 0.15);
  background-color: #fff;
  position: absolute;
  z-index: 9999;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

#menu-header-menu.menu li {
  border-bottom: dashed 1px #686868;
  padding: 0;
  line-height: 50px;
}

#menu-header-menu.menu a {
  color: #b2b2b2;
}

#menu-header-menu.menu a:hover {
  color: #fff;
}

#menu-header-menu.menu li:last-child {
  border-bottom: none;
}

.caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-top: 4px solid \9;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}

.container {
  padding-right: 30px;
}

#nav-drawer {
  display: none;
}

/*固定ページ*/

figcaption {
  display: none;
}

#content {
  margin: 0 auto;
  width: 90%;
  display: flex;
}

.col-md-9 {
  background: #fff;
  margin-top: 50px;
  margin-right: 0 !important;
  text-align: left;
  padding: 0;
  height: fit-content;
}

.col-md-9 section {
  text-align: center;
  border-bottom: 50px solid #eee;
  padding-bottom: 70px;
}

.col-md-9 h1 {
  text-align: center;
}

.col-md-9 h1:hover {
  text-decoration: underline;
}

p {
  padding-right: 40px;
  padding-left: 40px;
  margin-bottom: 20px;
  text-align: justify;
  font-size: 17px;
}

.button {
  margin: 0 auto;
}

.button a {
  border: 1px solid #909090;
  color: #7b7b7b;
  padding: 15px 33px 14px;
  text-align: center;
  text-decoration: none;
}

:-webkit-any(article, aside, nav, section) h1 {
  padding-right: 40px;
  padding-left: 40px;
  color: #7b7b7b;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 10px;
  line-height: 2;
}

.wp-block-image {
  margin: 0;
}

.wp-block-image img {
  display: inline-block;
  height: 300px;
  background-size: cover;
  background-repeat: no-repeat;
}

.alignnone, .wp-image-907 {
  max-width: 100% !important;
}

.time {
  text-align: center;
  font-size: 13px;
  color: #7b7b7b;
  padding-top: 60px;
  margin-bottom: 10px;
}

pre {
  white-space: normal;
}

.size-full {
  max-width: 100%;
}

/*sidebar*/

.sidebar {
  text-align: center;
}

#sidebar ul {
  margin-bottom: 0;
  padding: 0;
}

.col-md-3 {
  width: 30%;
}

#sidebar div {
  margin-top: 50px;
  padding-bottom: 40px;
  text-align: center;
}

#sidebar a {
  color: #b2b2b2;
}

#sidebar a:hover {
  text-decoration: underline;
}

.primary-sidebar>div {
  background-color: #fff !important;
}

#sidebar .image {
  margin: 40px auto 0;
  border-radius: 50%;
  width: 130px;
  height: 130px !important;
}

.user {
  background-color: #fff;
  padding-left: 15px;
  padding-right: 15px;
}

.user_name {
  text-align: center;
  font-family: "Avenir-Next";
  font-weight: 600;
  margin-top: 35px;
}

hr {
  width: 20%;
  border: 1px solid #374ca5 !important;
}

.user_contact {
  padding: 0 !important;
  text-align: right !important;
  color: #337ab7 !important;
  text-decoration: none;
}

.user_contact a:hover {
  text-decoration: underline;
}

.Introduction {
  color: #7b7b7b;
  font-size: 12px;
  line-height: 25px;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 40px;
}

.user_img {
  width: 130px !important;
  height: 130px;
  margin: 40px auto 0;
  border-radius: 50%;
}

input {
  height: 60px;
  background: #f5f5f5;
  border: 1px solid #ebebeb;
}

.search {
  background-color: #fff;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.searchBox {
  padding-top: 35px;
  padding-bottom: 0 !important;
  display: flex;
}

.searchBox form {
  width: 100%;
}

.rounded {
  padding-top: 50px;
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
}

.rounded li>a {
  text-decoration: underline !important;
}

#rpwwt-recent-posts-widget-with-thumbnails-2 img {
  width: 100% !important;
  height: 150px;
  margin-right: 0 !important;
  border: 1px solid #ebebeb;
}

.rpwwt-widget {
  padding-left: 15px;
  padding-right: 15px;
}

.rpwwt-post-title {
  color: #b2b2b2;
}

.rpwwt-post-title:hover {
  text-decoration: underline;
}

/*フッター*/

footer {
  text-align: center;
  background-color: #222222;
  height: 69px;
  line-height: 2.5;
}

footer p {
  padding-top: 20px;
  padding-bottom: 15px;
  margin-bottom: 0;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

aside {
  width: 100%;
  background-color: #fff;
  margin-top: 50px;
}

.footerBox {
  width: 80%;
  display: flex;
  text-align: left;
  margin: 0 auto;
}

aside p {
  text-align: left;
  color: #b2b2b2;
  padding-left: 0;
  padding-right: 0;
  font-size: 13px;
  margin-bottom: 10px;
}

aside ul {
  padding-top: 50px;
  width: 33.3333333333%;
  margin-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}

aside hr {
  margin-left: 0;
}

.widget.widget_text>.textwidget p>a {
  line-height: 0 !important;
  padding: 0;
  margin: 0;
  color: #337ab7;
  font-size: 12px;
}

.widget.widget_text>.textwidget p>a:hover {
  text-decoration: underline;
}

.textwidget li {
  border-top: dashed 1px #686868;
  font-size: 12px;
}

.textwidget a {
  color: #b2b2b2;
  line-height: 50px;
  padding-left: 15px;
  font-size: 13px !important;
}

.textwidget a:hover {
  text-decoration: underline;
}

.textwidget li:last-child {
  border-bottom: dashed 1px #686868;
}

.widgettitle {
  font-weight: 600;
  color: #272727;
  letter-spacing: 0.5px;
  margin-bottom: 5px;
  font-family: Avenir, Noto, Hiragino Sans, Helvetica, Arial, sans-serif;
}

/*お問い合わせ*/

.wpcf7 {
  display: flex;
  justify-content: center;
}

.wpcf7-form p {
  margin: 0;
  text-align: left;
  padding-top: 30px;
  padding-left: 0;
  padding-right: 0;
}

/*お問い合わせ text*/

.wpcf7-form-control.wpcf7-text {
  width: 356.86px;
  height: 38px;
  background-color: #fff;
  border: 1px solid #ccc;
  line-height: 0.1;
}

/*お問い合わせ textarea*/

.wpcf7-form-control.wpcf7-textarea {
  width: 594.77px;
  height: 120px;
  background-color: #fff;
  border: 1px solid #ccc;
  line-height: 2;
}

/*お問い合わせ submit*/

.wpcf7-form-control.wpcf7-submit {
  width: 129.05px;
  height: 38px;
  background-color: #fff;
  border: 1px solid #ccc;
  margin-bottom: 40px;
}

::placeholder {
  padding: 5px;
}

#alpr {
  color: #b2b2b2;
}

#alpr:hover {
  text-decoration: underline !important;
}

.stepback {
  margin-top: 60px;
  margin-bottom: 70px;
  display: flex;
  justify-content: space-around;
}

.stepback a {
  color: #7f7f7f;
  letter-spacing: 0.45px;
  border: 1px solid #7f7f7f;
  padding: 19px 20px 18px;
  text-decoration: none;
}

/*検索フォーム*/

.searchform {
  position: relative;
}

.searchfield {
  font-size: 14px;
  width: 90%;
  margin: 3px;
  padding: 10px;
  border: solid 1px #bbb;
  border-radius: 4px;
  background-color: #efefef;
  line-height: 0.7;
}

.searchsubmit {
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  font-size: 1.4em;
  position: absolute;
  top: 0;
  right: 8%;
  margin-top: 6px;
  padding: 0;
  cursor: pointer;
  color: #333;
  border: none;
  background: transparent;
  line-height: 3.5;
}

.searchsubmit:hover {
  opacity: 0.6;
}

.error p {
  padding-top: 30px;
  padding-bottom: 70px;
}

#sitemap_list li, a {
  color: #333;
}

.site-map {
  text-align: left;
  margin: 0 auto;
  display: inline-block;
}

.site-map section {
  text-align: center;
}

.site-map h2 > a {
  color: #7b7b7b;
}

.site-map a {
  color: #b2b2b2;
}


.site-map p {
  text-align: left;
}

.site-map h1 {
  text-align: center;
}

.site-map h2 {
  width: 80%;
  padding: 0.1em 0.5em;
  border-left: solid 10px #0091ff;
  color: #0091ff;
  font-size: 150%;
}

.at-share-btn-elements {
  text-align: center;
}

.col-md-9 .more-link {
  border: 1px solid #909090;
  color: #7B7B7B;
  padding: 15px 33px 14px;
  display: block;
  margin: 40px auto;
  width: 15%;
  text-align: center;
}

@media (max-width: 960px) {
  .header_in {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .col-md-9 .more-link {
    width: 22%;
  }
}

@media (max-width: 560px) {
  .header_in {
    margin: 0;
    width: 90%;
  }
  .header_in li {
    display: none;
  }
  .headertxt {
    background-color: #fff;
    color: #b2b2b2;
  }
  /*ハンバーガー*/
  #nav-drawer {
    position: relative;
    display: block;
  }
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display: none;
  }
  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    vertical-align: sub;
  }
  /*ハンバーガーアイコンをCSSだけで表現*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 2px;
    /*線の太さ*/
    width: 25px;
    /*長さ*/
    border-radius: 3px;
    background: #b2b2b2;
    display: block;
    content: "";
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;
    /*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;
    /*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: 0.3s ease-in-out;
  }
  /*中身*/
  #nav-content {
    overflow: auto;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9998;
    /*最前面に*/
    width: 90%;
    /*右側に隙間を作る*/
    max-width: 330px;
    /*最大幅*/
    height: 100%;
    width: 230px;
    padding-left: 20px;
    background: black;
    /*背景色*/
    transition: 0.3s ease-in-out;
    /*滑らかに表示*/
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    /*左に隠しておく*/
  }
  #nav-content a {
    position: relative;
    color: #b2b2b2;
    padding: 10px 15px;
    font-size: 17px;
    font-weight: 600;
    left: 0;
    top: 2%;
    z-index: 9999;
    line-height: 3;
    letter-spacing: 1px;
  }
  #nav-content i {
    letter-spacing: 5px;
  }
  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked~#nav-close {
    display: block;
    /*カバーを表示*/
    opacity: 0.5;
  }
  #nav-input:checked~#nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);
    /*中身を表示*/
    box-shadow: 6px 0 25px rgba(0, 0, 0, 0.15);
  }
  footer p {
    font-size: 10px;
    word-break: break-all;
    line-height: 3.5;
  }
  /*固定ページ*/
  #content {
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .col-md-9 {
    width: 100%;
  }
  .container {
    padding: 0;
    width: 100% !important;
  }
  :-webkit-any(article, aside, nav, section) h1 {
    font-size: 18px;
  }
  .wp-block-image img {
    width: 100%;
    height: auto;
  }
  figcaption {
    display: none;
  }
  /*sidebar*/
  .col-md-3 {
    width: 100%;
    padding: 0;
  }
  .alignnone, .wp-image-907, .size-full, .wp-image-906, .aligncenter {
    width: 100%;
    height: auto;
  }
  pre {
    white-space: normal;
  }
  .user, .search {
    margin-left: 15px;
    margin-right: 15px;
  }
  #sidebar div {
    padding-left: 15px;
    padding-right: 15px;
  }
  .rpwwt-post-title {
    color: #b2b2b2;
  }
  /*お問い合わせ*/
  .wpcf7-form {
    width: auto;
    padding-left: 0;
    padding-right: 0;
  }
  .wpcf7-form-control.wpcf7-text {
    width: auto;
    line-height: 0.1;
  }
  .wpcf7-form-control.wpcf7-textarea {
    width: auto;
    line-height: 2;
  }
  .wpcf7-form-control.wpcf7-submit {
    width: 50%;
  }
  /*footer ウィジェット*/
  .footerBox {
    display: block;
  }
  aside ul {
    margin-bottom: 0;
  }
  aside p {
    margin-bottom: 0;
    padding-bottom: 10px;
  }
  .site-map {
    text-align: left;
    padding-left: 30px;
  }
  .site-map a, .site-map p {
    text-align: left;
    color: #b2b2b2;
  }
  .site-map h2 {
    width: 80%;
    padding: 0.1em 0.5em;
    border-left: solid 10px #0091ff;
    color: #0091ff;
    font-size: 150%;
  }
  .site-map h2 > a {
    color: #7b7b7b;
  }
  .col-md-9 .more-link {
    width: 30%;
  }
}

@media (max-width: 320px) {
  footer p {
    padding-top: 15px;
    padding-bottom: 0;
    line-height: 2;
  }
  .site-map {
    text-align: left;
  }
  .site-map a, .site-map p {
    text-align: left;
    color: #b2b2b2;
  }
  .site-map h2 {
    width: 80%;
    padding: 0.1em 0.5em;
    border-left: solid 10px #0091ff;
    color: #0091ff;
    font-size: 150%;
  }
  .site-map h2 > a {
    color: #7b7b7b;
  }
  .col-md-9 .more-link {
    width: 34%;
  }
}

@media (max-width: 280px) {
  .col-md-9 .more-link {
    width: 41%;
  }
}